.modal-mask {
  z-index: 9998;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  @apply fixed left-0 top-0 h-full w-full;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: opacity 0.3s ease;
}

.slide-fade-leave-active {
  transition-delay: 0.15s;
}

.slide-fade-enter-from .modal-container,
.slide-fade-leave-to .modal-container {
  transform: translateY(100%);
}

.slide-fade-enter-active .modal-container {
  transition: transform 0.15s ease;
  transition-delay: 0.15s;
}

.slide-fade-leave-active .modal-container {
  transition: transform 0.15s ease;
  transition-delay: 0s;
}
